*.pyc
__pycache__/
**/__pycache__/
.pyc
**/__pycache__/.pyc
*.pyo
*.pyd
**/*.pyc
**/*.pyo
**/*.pyd

.Python
db.sqlite3
*.db
media/
staticfiles/

# Environment
.env
.venv
venv/
env/



# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# Logs
*.log
logs/

# Runtime
*.pid
*.seed

# Coverage
.coverage
htmlcov/

promt.txt
features.txt